name: Terraform CI/CD

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  terraform:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Authenticate to GCP
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: Terraform Init (DEV)
      working-directory: envs/dev
      run: terraform init -input=false

    - name: Terraform Plan (DEV)
      if: github.event_name == 'pull_request'
      working-directory: envs/dev
      run: terraform plan

    - name: Terraform Apply (DEV)
      if: github.event_name == 'push'
      working-directory: envs/dev
      run: terraform apply -auto-approve -var="env=dev"